@import "tailwindcss";


.ai-error {
    background-color: #05bca7;
    border-radius: 3px;
    padding: 0 2px;
    text-decoration: none;
}

.ai-correct {
    background-color: #05bca7;
    border-radius: 3px;
    padding: 0 2px;
    text-decoration: none;
}

.table-center .ant-table-cell {
    text-align: center !important;
}

.table-center .ant-table-thead>tr>th {
    text-align: center !important;
}